# Python Question Practice

# String

In [ ]:
##1. take name as input and say hello
name = input("Name:  ")
print("Hello! {}".format(name))

Name:  Faaz
Hello! Faaz

In [ ]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"
x=string.count("is")
print(x)

2

In [ ]:
# 3. from below string split the words by space
string = "Data is new oil"
x=string.split(" ")
print(x)

['Data', 'is', 'new', 'oil']

In [ ]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
x='='.join(list_1)
print(x)

Data=is=new=oil

In [ ]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
x=sentence.replace("Java","Python")
print(x)

I love programming in Python.

In [ ]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
x=message.strip(" ")
print(x)

This is a message with spaces.

In [ ]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
x=sentence.index("sample")
print(x)

10

In [ ]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
x=len(text)
print(x)

14

In [ ]:
#9. Print below string in reverse order
string = "Pineapple"
x=string[: :-1]
print(x)

elppaeniP

In [ ]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
x=text.title()
print(x)

Welcome To Python Programming.

In [ ]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
x=text.upper()
print(x)

DATA IS NEW OIL

In [ ]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
x=text.capitalize()
print(x)

I am learning python

In [ ]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
x=text.swapcase()
print(x)

dAta IS nEw Oil

In [ ]:
#14. print the addition of below 2 strings
a = 20
b = 30
c=a+ b

print(c)

50

In [ ]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c=int(a)+int(b)
print(c)

50

# List

In [ ]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]=44
print(my_list)

[1, 2, 3, 44, 5]

In [ ]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [ ]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [ ]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])

print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [ ]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [ ]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [ ]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.remove(my_list[-1])
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [ ]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [ ]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

In [2]:
## 26. Create a list named myList that has three element:
  #  the integer 3
  #  the string 'element number two'
  #  another list['last','element']
  #  in that order
myList=[3,'element number two',['last','element']]
print(myList)

[3, 'element number two', ['last', 'element']]

In [4]:
## 27. print the third element of the following list.
l=[1,2,3,4,5,6,7,8,9]
l[2]

3

In [6]:
## 28. Modify the last element of this list so that its value is 16.print the modified list so you operation was performed sucessfully.
listmodify=['a','b','sixteen']
listmodify[-1]=16
listmodify

['a', 'b', 16]

In [7]:
## 29. calculate the length of the following list
listlength=['this','is','the','list','whose','length','I','want']
len(listlength)

8

In [11]:
## 30. calculate thesum of the following list
intList=[54,678,2890]
sum(intList)

3622

In [12]:
## 31. findthe maximum value of the following list
maxList=[677,53245,234,236,23456,345,23526,3454]
max(maxList)

53245

In [13]:
## 32. find the minimum value of the following list.
minList=[351,984,1697,284,134,467,164]
min(minList)

134

In [15]:
## 33. Append the list 'append me!'to the end of the following list.print the list to ensure the operation has been completed sucessfully.
listAppend=[1,2,3]
listAppend.append('append me!')
print(listAppend)

[1, 2, 3, 'append me!']