# Python Question Practice

# String

In [1]:
##1. take name as input and say hello
name = input("Name:  ")
print("Hello! {}".format(name))

Name:  Faaz
Hello! Faaz

In [2]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"
x=string.count("is")
print(x)

2

In [3]:
# 3. from below string split the words by space
string = "Data is new oil"
x=string.split(" ")
print(x)

['Data', 'is', 'new', 'oil']

In [4]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
x='='.join(list_1)
print(x)

Data=is=new=oil

In [5]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
x=sentence.replace("Java","Python")
print(x)

I love programming in Python.

In [6]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
x=message.strip(" ")
print(x)

This is a message with spaces.

In [7]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
x=sentence.index("sample")
print(x)

10

In [8]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
x=len(text)
print(x)

14

In [9]:
#9. Print below string in reverse order
string = "Pineapple"
x=string[: :-1]
print(x)

elppaeniP

In [10]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
x=text.title()
print(x)

Welcome To Python Programming.

In [11]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
x=text.upper()
print(x)

DATA IS NEW OIL

In [12]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
x=text.capitalize()
print(x)

I am learning python

In [13]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
x=text.swapcase()
print(x)

dAta IS nEw Oil

In [14]:
#14. print the addition of below 2 strings
a = 20
b = 30
c=a+ b

print(c)

50

In [48]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c=int(a)+int(b)
print(c)

50

# List

In [47]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]=44
print(my_list)

[1, 2, 3, 44, 5]

In [41]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [17]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [40]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])

print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [27]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [25]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [28]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [32]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.remove(my_list[-1])
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [34]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [38]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']